*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

html {
  font-size: 62.5%;
  color: #0a0a0a;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}

ul {
  list-style: none;
}

.btn {
  margin-right: 2rem;
  background-color: #93e327;
  border: 3px solid #080808;
  color: #080808;
  padding: 1rem 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }
}

.btn-round {
  font-size: 1.5rem;
  background: none;
  border: 2px solid #080808;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .5rem;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

.btn-remove {
  color: red;
  border: none;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  label {
    margin-bottom: .5rem;
  }
}

.input {
  padding: 1rem .5rem;
}


a {
  text-decoration: none;
}

.App {
  background: $wildSand;
  min-height: 100vh;
}